@page
@model Ideia.IO.Pages.Acesso.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center d-flex justify-content-center align-items-center" style="height: 70vh;">
    <form class="container text-center container-acesso" method="post" asp-action="../Privacy" autocomplete="off">
            <h1>Ideia.Io</h1>
            <h1>Seja bem vindo!</h1>
            @if (ViewData["Fail"] != null)
            {
                <div class="alert alert-danger">@ViewData["Fail"]</div>
            }
            <div class="form-floating">
                <input class="form-control" id="frmEmail" name="Email" type="email" placeholder="Email" />
                <label for="frmEmail">Email</label>
            </div
            <!-- Campo de senha com ícone de olho -->
            <div class="form-floating">
                    <input id="senhaInput" class="form-control" name="Senha" type="password" placeholder="Senha" />
                    <span onclick="togglePasswordVisibility()"
                          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                        <i id="eyeIcon" class="fas fa-eye" style="color: white;"></i>
                    </span>
                <label for="senhaInput">Senha</label>
            </div>
            
            <p style="color:#fff;margin:2px 0 8px 0;">Esqueci Minha senha</p>
            <input class="btn btn-primario" style="margin:0 5px;width:50%" type="submit" value="Entrar" />
    </form>
</div>


<script>
    function togglePasswordVisibility() {
        const senhaInput = document.getElementById("senhaInput");
        const eyeIcon = document.getElementById("eyeIcon");

        if (senhaInput.type === "password") {
            senhaInput.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            senhaInput.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
</script>
