@page
@model Ideia.IO.Pages.Acesso.RegistroModel
@{
}

<div class="text-center">
    @if (ViewData["Fail"] != null)
    {
        <div class="alert alert-danger">@ViewData["Fail"]</div>
    }
    <form method="post" asp-action="/Login">
        <input name="NomeCompleto" type="text" placeholder="Nome Completo" />
        <input name="Email" type="email" placeholder="Email" />
        <input name="Senha" type="password" placeholder="Senha" />
        <input type="submit" value="Cadastrar-se" />
    </form>
</div>

