@page
@model Ideia.IO.Pages.Acesso.RegistroModel
@{
}

<div class="text-center d-flex justify-content-center align-items-center" style="height: 70vh;">
    @if (ViewData["Fail"] != null)
    {
        <div class="alert alert-danger">@ViewData["Fail"]</div>
    }

    <form method="post" asp-action="/Login" autocomplete="off">
        <div class="container text-center container-acesso">
            <h1>Ideia.Io</h1>
            <h1>Cadastrar-se</h1>
            <div class="row" style="display:flex;justify-content:center">
                <input class="form-control input-acesso" name="NomeCompleto" type="text" placeholder="Nome Completo" required />
                <input class="form-control input-acesso" name="NomeUsuario" type="text" placeholder="Usuario" required />
                <input class="form-control input-acesso" name="Email" type="email" placeholder="Email" required />
                <div class="input-50-container">
                    <div style="position: relative;padding:0;">
                        <input id="senhaInput" class="form-control" name="Senha" type="password" placeholder="Senha" required />
                        <span onclick="togglePasswordVisibility()"
                              style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                            <i id="eyeIcon" class="fas fa-eye" style="color: white;"></i>
                        </span>
                    </div>
                    <div style="position: relative;padding:0;">
                        <input id="ConfirmarSenhaInput" class="form-control" name="ConfirmarSenha" type="password" placeholder="Confirme sua senha" required />
                        <span onclick="toggleConfirmPasswordVisibility()"
                              style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                            <i id="eyeIcon2" class="fas fa-eye" style="color: white;"></i>
                        </span>
                    </div>
                </div>
                <input class="btn-primario" style="margin:10px 5px;width:50%" type="submit" value="Cadastrar-se" />
            </div>
        </div>
    </form>


</div>

<script>
    function togglePasswordVisibility() {
        const senhaInput = document.getElementById("senhaInput");
        const eyeIcon = document.getElementById("eyeIcon");

        if (senhaInput.type === "password") {
            senhaInput.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            senhaInput.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }

    function toggleConfirmPasswordVisibility() {
        const senhaInput = document.getElementById("ConfirmarSenhaInput");
        const eyeIcon = document.getElementById("eyeIcon2");

        if (senhaInput.type === "password") {
            senhaInput.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            senhaInput.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
</script>