
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

    .btn img {
        width: 25px;
        margin-right: 5px;
    }

.btn:hover {
    transform: scale(1.05);
}

.btn-transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    position: relative;
}

    .btn-transparent::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px;
        padding: 2px;
        background: linear-gradient(to bottom, #000000, #091D31, #0D2A46, #143C65);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }

    .btn-transparent:hover {
        color: white;
        transform: scale(1.05);
    }
.btn-primario {
    background: #FFDD00;
    color: #000;
    padding: 10px 40px;
    margin-top: 10px;
}
.btn-verde {
    background-color: #09310A;
    color: #FFF;
    padding: 10px 40px;
    margin-top: 10px;
}
.btn-verde:hover{
    color: #FFF;
}

.btn-azul, .btn-voltar {
    background-color: #123252;
    color: #FFF;
    padding: 10px 40px;
    margin-top: 10px;
}
.btn-voltar {
    padding: 10px 35px;
}
    .btn-azul:hover, .btn-voltar:hover, .btn-vermelho:hover {
        color: #FFF;
    }
.btn-vermelho {
    background-color: #460D0D;
    color: #FFF;
    padding: 10px 40px;
    margin-top: 10px;
}
    .bookmark-checkbox {
        display: none;
    }

.icon-bookmark .bookmark-icon {
    display: block;
}

.icon-bookmark .bookmark-fill-icon {
    display: none;
}

.bookmark-checkbox:checked + label .bookmark-icon {
    display: none;
}

.bookmark-checkbox:checked + label .bookmark-fill-icon {
    display: block;
}


