#previewImagens {
    width: 100%;
}

#previewImageGallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}


#previewImagens .imageContainer {
    width: 100%;
    height: 400px;
    display: block;
    margin: 0;
    margin-bottom: 10px;
}

.imageContainer {
    width: 135px;
    height: 115px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

#previewImagens .imageContainer img {
    width: 100%;
    min-height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.imageContainer img {
    width: 100%;
    height: 115px;
    margin-bottom: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.imageContainer .img-lixeira {
    position: absolute;
    right: 0;
    top: 0;
}

.previewPlaceholder {
    width: 100%;
    min-height: 400px;
    background-color: #0B1824;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.previewPlaceholder2 {
    width: 100%;
    height: 115px;
    background-color: #0B1824;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
}


previewPlaceholder:hover {
    transform: scale(1.1);
}

.previewPlaceholder img {
    width: 30px;
    height: 30px;
}
