html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0F1D2B;
}
.container{
    position:relative;
}
.navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item img {
    vertical-align: middle;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px auto;
    max-width: 1600px;
}

.projects-container a {
    text-decoration: none;
    color: white;
}

.project-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}
.project-box:hover{
    transform: scale(1.05);
}

.project-card {
    background-color: #FFDD00; /* Fundo amarelo para a borda */
    text-align: center;
    border-radius: 6px 6px 12px 12px;
    font-size: 16px;
    color: #333;
    height: 200px; /* Altura fixa do card */
    overflow: hidden;
    position: relative;
}

.image-wrapper {
    height: 95%; /* Define a altura que a imagem ocupará */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 12px 12px; /* Bordas arredondadas no topo */
    object-fit: cover; /* Ajusta a imagem para preencher o espaço sem distorcer */
}


.project-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.project-title .titulo {
    font-size: 24px;
    text-decoration: none;
    color: #818181;
    margin: 0;
    padding: 0;
    font-weight: bold
}

.project-title span p {
    margin: 0;
    padding: 0;
    color: #494949;
}

.project-box p {
    color: #494949;
    text-decoration: none;
    text-align: start;
}
.project-infos{
    display: flex;
    justify-content: space-between;
}

.project-infos p {
    color: #494949;
}
.main-view-projeto {
    margin-top: 50px;
}
@media (max-width: 1200px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas para telas menores */
    }
}

@media (max-width: 900px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas ainda menores */
    }
}

@media (max-width: 600px) {
    .projects-container {
        grid-template-columns: 1fr; /* 1 coluna para telas pequenas */
    }
}

.dropdown-menu{
    background-color: #292929;

}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

.dropdown-item img{
    height: 25px;
    margin-right: 10px;
}

